Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <A.Tarkowska@dundee.ac.uk>
Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> Ola Tarkowska <A.Tarkowska@dundee.ac.uk>
Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> Ola Tarkowska <aleksandra-tarkowska@users.noreply.github.com>
Andreas Knab <andreas@glencoesoftware.com> <knabar@gmail.com>
Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk> Andrew J Patterson <workonly@qidane.com>
Christian Dietrich <c.dietrich@imb-mainz.de> <44772491+chdietrich@users.noreply.github.com>
Colin Blackburn <c.blackburn@dundee.ac.uk> <colin@ximenes.org.uk>
David Pinto <carandraug+dev@gmail.com> Carnë Draug <carandraug+dev@gmail.com>
Dominik Lindner <d.lindner@dundee.ac.uk> dominikl <d.lindner@dundee.ac.uk>
Dominik Lindner <d.lindner@dundee.ac.uk> <dominikl@users.noreply.github.com>
Douglas Russell <douglas.russell@bioch.ox.ac.uk> <douglas_russell@hms.harvard.edu>
Douglas Russell <douglas.russell@bioch.ox.ac.uk> dpwrussell <douglas.russell@bioch.ox.ac.uk>
Douglas Russell <douglas.russell@bioch.ox.ac.uk> dpwrussell <douglas_russell@hms.harvard.edu>
Helen Flynn <h.flynn@dundee.ac.uk> <omehelen@gmail.com>
Helen Flynn <h.flynn@dundee.ac.uk> H Flynn <omehelen@gmail.com>
Jean-Marie Burel <j.burel@dundee.ac.uk> jburel <j.burel@dundee.ac.uk>
Jean-Marie Burel <j.burel@dundee.ac.uk> jean-marie burel <j.burel@dundee.ac.uk>
Jean-Marie Burel <j.burel@dundee.ac.uk> <jburel@users.noreply.github.com>
Jesse Corrington <jesse@glencoesoftware.com> <jesse.corrington@gmail.com>
Josh Ballanco <jballanc@glencoesoftware.com> <jballanc@gmail.com>
Josh Moore <josh@openmicroscopy.org> <j.a.moore@dundee.ac.uk>
Josh Moore <josh@openmicroscopy.org> <josh@glencoesoftware.com>
Josh Moore <josh@openmicroscopy.org> <josh.moore@gmx.de>
Josh Moore <josh@openmicroscopy.org> jmoore <josh@glencoesoftware.com>
Kenny Gillen <k.h.gillen@dundee.ac.uk> Kenneth Gillen <k.h.gillen@dundee.ac.uk>
Mark Carroll <m.t.b.carroll@dundee.ac.uk> <M.T.B.Carroll@Dundee.ac.uk>
Mark Carroll <m.t.b.carroll@dundee.ac.uk>  Mark <M.T.B.Carroll@Dundee.ac.uk>
Martin Stoeckl <martin.stoeckl80@googlemail.com>
Melissa Linkert <melissa@glencoesoftware.com> <melissa.linkert@gmail.com>
Nikolaus Ehrenfeuchter <nikolaus.ehrenfeuchter@unibas.ch> Niko Ehrenfeuchter <nikolaus.ehrenfeuchter@unibas.ch>
Petr Walczysko <p.walczysko@dundee.ac.uk> pwalczysko <p.walczysko@dundee.ac.uk>
Riad Gozim <r.gozim@dundee.ac.uk> Riad Gozim <rgozim1@gmail.com>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@codelibre.net>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@debian.org>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@dundee.ac.uk>
Sébastien Besson <sbesson@glencoesoftware.com> Sebastien Besson <seb.besson@gmail.com>
Sébastien Besson <sbesson@glencoesoftware.com> Sébastien Besson <seb.besson@gmail.com>
Sébastien Simard <ssimard@pasteur.fr> ssimard <ssimard@pasteur.fr>
Simon Li <spli@dundee.ac.uk> <orpheus+devel@gmail.com>
Simone Leo <s.z.leo@dundee.ac.uk> <simleo@crs4.it>
Tom Boissonnet <tom.boissonnet@hhu.de> <tom.boissonnet@hotmail.fr>
Will Moore <w.moore@dundee.ac.uk> William Moore <w.moore@dundee.ac.uk>
Will Moore <w.moore@dundee.ac.uk> <will@lifesci.dundee.ac.uk>
