[Unit]
Description=OMERO.web
Requires=nginx.service

[Service]
User=omero
Type=forking
Restart=on-failure
RestartSec=10
Environment="OMERODIR=/opt/omero/server/OMERO.server"
ExecStart=/opt/omero/web/venv3/bin/omero web start
ExecStop=/opt/omero/web/venv3/bin/omero web stop

[Install]
WantedBy=multi-user.target
