[Unit]
Description=OMERO.server
Requires=postgresql-9.4.service
After=docker-postgresql-9.4.service

[Service]
User=omero
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/home/omero/OMERO.server/bin/omero admin start --foreground

[Install]
WantedBy=multi-user.target
