[Unit]
Description=OMERO.web
Requires=nginx.service

[Service]
User=omero
Type=forking
Restart=on-failure
RestartSec=10
Environment="OMERODIR=/home/omero/OMERO.server"
ExecStart=/opt/omero/web/venv/bin/omero web start
ExecStop=/opt/omero/web/venv/bin/omero web stop

[Install]
WantedBy=multi-user.target
