********************
Version requirements
********************

Summary of changes for OMERO 5.3 and planned changes for 5.4
============================================================

Criteria for what is considered to be supportable includes whether
support by both upstream developers and operating system distributions
will be available for the lifetime of the 5.3 release (including
security support), and also upon our resources allocated to CI and
testing. If we are not actively testing it, we **cannot** claim it is
supported or functional.  Software components must be provided and
supported either by an operating system distribution or their original
developers.

This section contains a summary of the changes made to the minimum
version requirements for the 5.3 release and also planned changes for
the following 5.4 release, albeit tentatively at this point. The
intent is to provide a roadmap in order that sysadmins may plan ahead
and ensure that prerequisites are in place ahead of time to ease
future upgrades. The following sections provide more detailed
information and the rationale for the changes.

Operating systems
-----------------

* Microsoft Windows

  * From [5.3] client support only
  * Rationale: see `blog post explanation <http://blog.openmicroscopy.org/tech-issues/future-plans/deployment/2016/03/22/windows-support/>`_

* MacOS X

  * [5.3] 10.9 dropped, 10.10 deprecated, 10.11 recommended, 10.12 upcoming
  * [5.4] 10.10 dropped, 10.11 deprecated, 10.12 recommended, 10.13 upcoming
  * Rationale: MacOS X is typically suited only to client use, not serious server deployment, so limit testing accordingly.

* Linux (CentOS/RHEL)

  * [5.3] 7.x recommended, 6.x deprecated
  * [5.4] 7.x recommended, 6.x dropped

* Linux (Ubuntu LTS)

  * [5.3] 12.04 dropped, 14.04 supported, 16.04 recommended
  * [5.4] 14.04 supported, 16.04 recommended
  * Only LTS versions are supported and tested. Non-LTS versions
    following a supported LTS release are likely to work but are not
    officially supported or tested.
  * Rationale: No change in this timeframe.

Bitness
-------

Currently 32- and 64-bit systems are supported for client and server
on all platforms with the exception of MacOS X (64-bit only).

* [5.3] Deprecate 32-bit support for Ice and native code [client]
* [5.4] Drop 32-bit support for Ice and native code [client]


Components
----------

* PostgreSQL

  * [5.3] 9.2 dropped, 9.3 deprecated, 9.4 supported, 9.5 supported, 9.6 recommended
  * [5.4] 9.4 supported, 9.5 supported, 9.6 recommended
  * Rationale: Current releases available for all supported systems
    from upstream and for CentOS/RHEL 6.x officially via SCL (software
    collections).

* Python

  * [5.3] 2.6 dropped (OMERO.web only), 2.7 recommended, 3.x not supported
  * [5.4] 2.6 dropped (server), 2.7 recommended, 3.x not supported
  * Rationale: 2.7 is provided by all systems except for CentOS/RHEL
    6.x, however it is available officially via SCL. Note that 3.3 is
    also available via SCL, so there is potential for a 3.x migration
    in the 5.3 timeframe. Python 2.6 is **no longer** supported for OMERO.web,
    the server can still be used with Python 2.6.

* Ice

  * [5.3] 3.4 dropped, 3.5 deprecated, 3.6 recommended, 3.7 upcoming
  * [5.4] 3.5 dropped, 3.6 supported, 3.7 recommended

* Java

  * [5.3] 7 deprecated, 8 recommended, 9 upcoming
  * [5.4] 7 dropped, 8 supported, 9 recommended
  * Rationale: For 5.3 deprecate 7; this is because security support ends in April 2015.

* nginx

  * [5.3] 1.4 dropped, 1.6 supported, 1.8 supported, 1.10 recommended
  * [5.4] 1.6 supported, 1.8 supported, 1.10 recommended

Support levels
==============

The following sections use the terminology in the table below to
describe the support status of a given component, as it progresses
from being new and not supported, to supported and tested on a
routine basis, and to finally being old and no longer supported
nor tested.

.. list-table::
    :header-rows: 1

    * - Level
      - Meaning
      - Description
    * - Upcoming
      - unsupported/new
      - New version not yet regularly tested and not officially supported; may or may not work (use at own risk)
    * - Supported
      - supported/suboptimal
      - Version which is tested, confirmed to work correctly, but may not offer optimal performance/experience
    * - Recommended
      - supported/optimal
      - Version which is regularly tested, confirmed to work correctly, recommended for optimal performance/experience
    * - Deprecated
      - supported/deprecated
      - Version which is less tested, expected to work correctly, but may not offer optimal performance/experience; official support may be dropped in the next major OMERO release
    * - Dropped
      - unsupported/old
      - Old version no longer tested and no longer officially supported; may or may not work (use at own risk)
    * - Broken
      - unsupported/broken
      - Known to not work
    * - Unsupported
      - unsupported/misc
      - Not supported for some reason other than the above

Operating system support
========================

The following subsections detail the versions of each operating system
which are supported by both its upstream developers (for security and
general updates) and by OME for OMERO building and server and client
deployment.

Microsoft Windows
-----------------

`General overview <http://support.microsoft.com/gp/lifeselectindex>`__
(under 'W' in the index)

.. list-table::
    :header-rows: 2

    * - 
      - 
      - Upstream
      - support
      - 
      - 
      - 
      - 
    * - Version
      - Release date
      - (mainline)
      - (extended)
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
      - Details
    * - Win 7
      - from Oct 2009
      - to Jan 2015
      - to Jan 2020
      - Supported
      - Unsupported†
      - Unsupported†
      - `Ref <https://support.microsoft.com/en-gb/help/13853>`__
    * - Server 2008 R2
      - from May 2008
      - to Jan 2018
      - to Jan 2023
      - Supported
      - Unsupported
      - Unsupported†
      - `Ref <http://support.microsoft.com/lifecycle/?p1=17383>`__
    * - Win 8
      - from Oct 2012
      - to Jan 2018
      - to Jan 2023
      - Recommended
      - Unsupported†
      - Unsupported†
      - `Ref <https://support.microsoft.com/en-gb/help/13853>`__
    * - Server 2012
      - from Oct 2012
      - to Jan 2018
      - to Jan 2023
      - Recommended
      - Unsupported
      - Unsupported†
      - `Ref <http://support.microsoft.com/lifecycle/?p1=16526>`__
    * - Win 10
      - from July 2015
      - to Oct 2020
      - to Oct 2025
      - Unsupported
      - Unsupported†
      - Unsupported†
      - `Ref <https://support.microsoft.com/en-gb/help/13853>`__

†
   Unsupported for OMERO.server and OMERO.web deployment. Client support will
   continue.


Insufficient resources are available for regular CI deployment and testing of
OMERO.server so a decision has been made to drop support in favor of other
priorities. See `this blog post for full details <http://blog.openmicroscopy.org/tech-issues/future-plans/deployment/2016/03/22/windows-support/>`_.

UNIX (MacOS X)
--------------

`General overview <http://en.wikipedia.org/wiki/OS_X>`__

.. list-table::
    :header-rows: 1

    * - Version
      - Release date
      - Upstream support
      - Homebrew support
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
    * - 10.9
      - from Jun 2013
      - Ended
      - Ended
      - Supported
      - Dropped
      - Dropped
    * - 10.10
      - from Oct 2014
      - Supported
      - Supported
      - Recommended
      - Deprecated
      - Dropped
    * - 10.11
      - from Sep 2015
      - Supported
      - Supported
      - Upcoming
      - Supported
      - Supported
    * - 10.12
      - from Sep 2016
      - Supported
      - Supported
      - Unsupported
      - Supported
      - Recommended

Apple do not formally announce end of life for their releases, but
with the three latest releases being supported this puts 10.10 as the
minimum version suitable for use.  We have regular CI testing of 10.11
and 10.12 builds plus developer testing of building and client and
server deployment. 10.9 and 10.10 are marked as dropped and deprecated
since they are no longer tested by the CI infrastructure (nodes
retired).

UNIX (FreeBSD)
--------------

It only really makes sense to support the base toolchain for major
releases and the Ports tree (which is continually updated); these will
be covered in the dependencies, below.

Linux (CentOS and RHEL)
-----------------------

General overview for `RHEL
<https://access.redhat.com/site/articles/3078>`__ and `CentOS
<http://wiki.centos.org/FAQ/General#head-fe8a0be91ee3e7dea812e8694491e1dde5b75e6d>`__

.. list-table::
    :header-rows: 1

    * - Version
      - Release date
      - Upstream support
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
      - Details
    * - 6
      - from Nov 2010
      - to Nov 2020
      - Supported
      - Deprecated
      - Dropped
      - `Ref <http://wiki.centos.org/FAQ/General#head-fe8a0be91ee3e7dea812e8694491e1dde5b75e6d>`__
    * - 7
      - from June 2014
      - to June 2024
      - Recommended
      - Recommended
      - Recommended
      - `Ref <http://wiki.centos.org/FAQ/General#head-fe8a0be91ee3e7dea812e8694491e1dde5b75e6d>`__

Only RHEL and CentOS 6 are supported at present. Given the long life
of enterprise releases, we intend to support only the latest release
at any given time or else it ties us into very old dependencies; 6.x
is already quite long in the tooth, however is in wide use and so will
require supporting for 5.2 at a minimum. 7.x can be the recommended
version once it is properly tested by us and has appropriate CI
support. There is currently extensive CI support for building and
deployment with CentOS 6 but it is not used directly by developers in
general.

Linux (Ubuntu)
--------------

`General overview <https://wiki.ubuntu.com/Releases>`__

.. list-table::
    :header-rows: 1

    * - Version
      - Release date
      - Upstream support
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
    * - 14.04 LTS
      - from Apr 2014
      - to Apr 2019
      - Recommended
      - Supported
      - Supported
    * - 16.04 LTS
      - from Apr 2016
      - to Apr 2021
      - Recommended
      - Recommended
      - Recommended

Only the LTS releases are supported due to resource limitations upon
CI and testing. Only the last two LTS releases are supported (being a
bit more frequent than CentOS/RHEL). There is currently no CI testing
for any version, but some developer use of 14.04 LTS, 16.04 LTS and
more recent non-LTS releases.


Dependencies
============

The following subsections detail the versions of each dependency
needed by OMERO which are supported by both its upstream developers
(for security and general updates) and by OME for OMERO building and
server and client deployment.

.. note::
    Versions in brackets are in development distributions and may
    change without notice.

Package lists
-------------

.. list-table::
    :header-rows: 1

    * - Operating system
      - Details
    * - CentOS 6 / RHEL 6
      - `Reference <http://mirror.centos.org/centos/6/os/x86_64/Packages/>`__
    * - CentOS 7 / RHEL 7
      - `Reference <http://mirror.centos.org/centos/7/os/x86_64/Packages/>`__
    * - Ubuntu
      - `Reference <http://packages.ubuntu.com/search?keywords=foo&searchon=names&suite=all&section=all>`__
    * - Homebrew
      - `Reference <https://github.com/Homebrew/homebrew-core/tree/master/Formula>`__
    * - FreeBSD Ports
      - `Reference <http://svnweb.freebsd.org/ports/head/>`__


PostgreSQL
----------

`General overview <http://www.postgresql.org/support/versioning/>`__

OMERO support policies
^^^^^^^^^^^^^^^^^^^^^^

.. list-table::
    :header-rows: 1

    * - Version
      - Release date
      - Upstream support
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
    * - 9.3
      - from Sep 2013
      - to Sep 2018
      - Deprecated
      - Deprecated
      - Dropped
    * - 9.4
      - from Dec 2014
      - to Dec 2019
      - Supported
      - Supported
      - Supported
    * - 9.5
      - from Jan 2016
      - to Jan 2021
      - Unsupported
      - Supported
      - Supported
    * - 9.6
      - from Sep 2016
      - to Sep 2021
      - Unsupported
      - Recommended
      - Recommended
    * - Details
      - 
      - `Reference <http://www.postgresql.org/support/versioning/>`__
      - 
      - 
      - 

Version provided by distribution
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
If no version is provided, a suitable repository is indicated.

.. list-table::
    :header-rows: 1

    * - Version
      - CentOS/RHEL
      - Ubuntu
      - Homebrew
      - FreeBSD Ports
    * - 9.3
      - N/A
      - 14.04
      - N/A
      - Yes
    * - 9.4
      - 6 (`postgresql <http://yum.postgresql.org/9.4/redhat/rhel-6-x86_64/>`__), 7 (`postgresql <https://yum.postgresql.org/9.4/redhat/rhel-7-x86_64/>`__)
      - 16.04
      - N/A
      - Yes
    * - 9.5
      - 6 (`postgresql <http://yum.postgresql.org/9.5/redhat/rhel-6-x86_64/>`__), 7 (`postgresql <https://yum.postgresql.org/9.5/redhat/rhel-7-x86_64/>`__)
      - 14.04, 16.04 (`postgresql <https://apt.postgresql.org/pub/repos/apt/>`__)
      - N/A
      - Yes
    * - 9.6
      - 6 (`postgresql <http://yum.postgresql.org/9.6/redhat/rhel-6-x86_64/>`__), 7 (`postgresql <https://yum.postgresql.org/9.6/redhat/rhel-7-x86_64/>`__)
      - 14.04, 16.04 (`postgresql <https://apt.postgresql.org/pub/repos/apt/>`__)
      - N/A
      - Yes
    * - Details
      - 
      - `Reference <http://packages.ubuntu.com/search?keywords=postgresql&searchon=names&suite=all&section=all>`__
      - 
      - 

The PostgreSQL project provides `packages
<http://www.postgresql.org/download/>`__ for supported platforms.
Therefore distribution support is not critical since 9.3 and 9.4 are
available for all platforms.

.. _python-requirements:

Python
------

OMERO support policies
^^^^^^^^^^^^^^^^^^^^^^

.. list-table::
    :header-rows: 1

    * - Version
      - Release date
      - Upstream support
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
      - Details
    * - 2.6
      - from Oct 2008
      - to Oct 2013
      - Deprecated
      - Dropped (Web only)
      - Dropped
      - `Reference <http://legacy.python.org/dev/peps/pep-0361/>`__
    * - 2.7
      - from Jul 2010
      - to 2020
      - Recommended
      - Recommended
      - Recommended
      - `Reference <http://legacy.python.org/dev/peps/pep-0373/>`__
    * - 3.2
      - from Feb 2011
      - to Feb 2016
      - Unsupported
      - Unsupported
      - Unsupported
      - `Reference <http://legacy.python.org/dev/peps/pep-0392/>`__
    * - 3.3
      - from Sep 2012
      - to Sep 2017
      - Unsupported
      - Unsupported
      - Unsupported
      - `Reference <http://legacy.python.org/dev/peps/pep-0398/>`__
    * - 3.4
      - from Mar 2014
      - TBA
      - Unsupported
      - Unsupported
      - Unsupported
      - `Reference <http://legacy.python.org/dev/peps/pep-0429/>`__
    * - 3.5
      - from Sept 2015
      - TBA
      - Unsupported
      - Unsupported
      - Unsupported
      - `Reference <https://www.python.org/dev/peps/pep-0478>`__
    * - 3.6
      - from Dec 2016
      - TBA
      - Unsupported
      - Unsupported
      - Unsupported
      - `Reference <https://www.python.org/dev/peps/pep-0494/>`__

Version provided by distribution
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. list-table::
    :header-rows: 1

    * - Version
      - CentOS/RHEL
      - Ubuntu
      - Homebrew
      - FreeBSD Ports
    * - 2.6
      - 6
      - 10.04
      - N/A
      - Yes
    * - 2.7
      - 7
      - 14.04, 16.04
      - Yes
      - Yes
    * - 3.2
      - N/A
      - N/A
      - N/A
      - Yes
    * - 3.3
      - N/A
      - N/A
      - N/A
      - Yes
    * - 3.4
      - N/A
      - 14.04
      - N/A
      - Yes
    * - 3.5
      - N/A
      - 16.04
      - N/A
      - Yes
    * - 3.6
      - N/A
      - N/A
      - Yes
      - Yes
    * - Details
      - 
      - `Python 2 <http://packages.ubuntu.com/search?keywords=python2&searchon=names&suite=all&section=all>`__
        `Python 3 <http://packages.ubuntu.com/search?keywords=python3&searchon=names&suite=all&section=all>`__
      - 
      - 

At the moment 2.7 support is present upstream for the foreseeable
future; 3.x versions continue to be released and retired regularly in
parallel. The limiting factor will be distribution support for 2.7 as
major packages are slowly switching to 3.x, and this might cause
problems if our python module dependencies are no longer available
without major effort. Ice 3.5 in particular has dropped 2.7 support
for Windows, and has a significant cost in providing custom rebuilds;
this has been rectified in Ice 3.6 with the Python module being
installable with ``pip`` using any Python version.

The supported version of the Django module used by OMERO.web (1.8)
requires Python 2.7. The older version (1.6) will work with Python
2.6 but lacks security support, and is consequently not recommended
for production use.

.. _ice-requirements:

Ice
---

:zeroc:`General overview <download.html>`

OMERO support policies
^^^^^^^^^^^^^^^^^^^^^^

.. list-table::
    :header-rows: 1

    * - Version
      - Release date
      - Upstream support
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
      - Details
    * - 3.5
      - from Mar 2013
      - to Oct 2013
      - Recommended
      - Deprecated
      - Dropped
      - :zerocforum:`Ice 3.5 <announcements/6093-ice-3-5-0-released>`
        :zerocforum:`Ice 3.5.1 <announcements/6283-ice-3-5-1-released>`
    * - 3.6
      - from June 2015
      - to TBA
      - Supported
      - Recommended
      - Supported
      - :zerocforum:`Ice 3.6.0 <announcements/6631-ice-3-6-0-and-ice-touch-3-6-0-released>`
        :zerocforum:`Ice 3.6.1 <announcements/45941-ice-3-6-0-and-ice-touch-3-6-1-released>` (broken)
        :zerocforum:`Ice 3.6.2 <announcements/46347-ice-ice-e-and-ice-touch-3-6-2-released>`
        :zerocforum:`Ice 3.6.3 <announcements/46475-ice-ice-e-and-ice-touch-3-6-3-released>`
    * - 3.7
      - from TBA
      - to TBA
      - Unsupported
      - Upcoming
      - Recommended
      -

Version provided by distribution
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
If no version is provided, a suitable repository is indicated.

.. list-table::
    :header-rows: 1

    * - Version
      - CentOS/RHEL
      - Ubuntu
      - Homebrew
      - FreeBSD Ports
    * - 3.5
      - 6, 7 (`zeroc <https://zeroc.com/distributions/ice/3.5/>`__)
      - 14.04, 16.04
      - Yes
      - Yes
    * - 3.6
      - 6, 7 (`zeroc <https://zeroc.com/distributions/ice/>`__)
      - 14.04, 16.04 (`zeroc <https://zeroc.com/distributions/ice/>`__)
      - Yes
      - Yes
    * - 3.7
      - N/A
      - N/A
      - N/A
      - N/A
    * - Details
      -
      - `Reference <http://packages.ubuntu.com/search?keywords=ice&searchon=names&suite=all&section=all>`__
      -
      -

Java
----

`General overview <http://www.oracle.com/technetwork/java/eol-135779.html>`__

OMERO support policies
^^^^^^^^^^^^^^^^^^^^^^

.. list-table::
    :header-rows: 1

    * - Version
      - Release date
      - Upstream support
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
      - Details
    * - 7
      - from Jul 2011
      - to Apr 2015
      - Deprecated
      - Deprecated
      - Dropped
      - `Reference <http://www.oracle.com/technetwork/java/eol-135779.html>`__
    * - 8
      - from Mar 2014
      - to Mar 2017
      - Recommended
      - Recommended
      - Supported
      - `Reference <http://www.oracle.com/technetwork/java/eol-135779.html>`__
    * - 9
      - TBA
      - TBA
      - Unsupported
      - Upcoming
      - Recommended
      - 

Version provided by distribution
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. list-table::
    :header-rows: 1

    * - Version
      - CentOS/RHEL
      - Ubuntu
      - Homebrew
      - FreeBSD Ports
    * - 7
      - 6, 7
      - 14.04
      - N/A
      - Yes
    * - 8
      - 6, 7
      - 16.04
      - N/A
      - Yes
    * - 9
      - N/A
      - N/A
      - N/A
      - N/A
    * - Details
      - 
      - `Reference <http://packages.ubuntu.com/search?keywords=jdk&searchon=names&suite=all&section=all>`__
      - 
      - 

Note that all distributions provide OpenJDK 7 and/or 8 due to
distribution restrictions by Oracle. Oracle Java may be used if
downloaded separately.

Java 7 is available for all platforms except for OSX 10.6 (where it is
installable manually by unpacking the 10.7 installer). Some 1.8
OpenJDK versions are broken (Debian/Ubuntu 1.8.0u40 broken), but some
work (1.8.0u25, FreeBSD). 1.8 should become recommended once working
versions exist in all distributions.

nginx
-----

`General overview <http://nginx.org/en/download.html>`__ and `roadmap
<http://trac.nginx.org/nginx/roadmap>`__

OMERO support policies
^^^^^^^^^^^^^^^^^^^^^^

.. list-table::
    :header-rows: 1

    * - Version
      - Release date
      - Upstream support
      - OMERO 5.2
      - OMERO 5.3
      - OMERO 5.4
    * - 1.4
      - from Apr 2013
      - to Mar 2014
      - Deprecated
      - Dropped
      - Dropped
    * - 1.6
      - from Apr 2014
      - to Apr 2015
      - Supported
      - Deprecated
      - Dropped
    * - 1.8
      - from Apr 2015
      - to Jan 2016
      - Recommended
      - Supported
      - Supported
    * - 1.10
      - from April 2016
      - TBA
      - Upcoming
      - Recommended
      - Supported

Version provided by distribution
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
If no version is provided, a suitable repository is indicated.

.. list-table::
    :header-rows: 1

    * - Version
      - CentOS/RHEL
      - Ubuntu
      - Homebrew
      - FreeBSD Ports
    * - 1.6
      - N/A
      - N/A
      - N/A
      - N/A
    * - 1.8
      - N/A
      - N/A
      - N/A
      - N/A
    * - 1.10
      - 6 (`EPEL <https://dl.fedoraproject.org/pub/epel/6/x86_64/>`__), 7 (`EPEL <https://dl.fedoraproject.org/pub/epel/7/x86_64/n/>`__)
      - 14.04 (`nginx <https://launchpad.net/~nginx/+archive/ubuntu/stable>`__), 16.04
      - Yes
      - Yes
    * - Details
      - 
      - 
      - `Reference <http://packages.ubuntu.com/search?keywords=nginx&searchon=names&suite=all&section=all>`__
      - 
